# Node modules
/node_modules

# Environment files
.env
.env.*
!.env.example   # Keep example env file in repo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log


# Local development
/.cache
/.turbo
coverage/

# Temporary files
*.tmp
*.swp
*.bak
